.headerOuterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000; /* Ensure it stays above other content */
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navBlack {
    background-color: rgb(20, 20, 20);
}

.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.headerLeft ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.headerLeft li {
    margin-right: 20px;
    color: #faf8f8;
    cursor: pointer;
}

.headerLeft li img {
    margin-right: 20px;
    height: 10vh;
}

.headerRight ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.headerRight li {
    margin-right: 20px;
    color: #f8f5f5;
    cursor: pointer;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .headerRight {
        display: none;
    }

    .headerLeft li {
        margin-right: 10px;
    }

    .headerLeft li img {
        height: 8vh;
    }
}
